<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Sistema</a>

        <div>
            <a href="/categorias" class="btn btn-light btn-sm">Categorias</a>
            <a href="/fornecedor" class="btn btn-light btn-sm">Fornecedor</a>
            <a href="/cliente" class="btn btn-light btn-sm">Cliente</a>
            <a href="/integrantes" class="btn btn-light btn-sm">Integrantes</a>
        </div>
    </div>
</nav>