<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="container mt-4 text-center">
    <h3>🏠 Sistema EJS</h3>
    <p>Projeto Node.js</p>
</div>

<%- include('partials/footer') %>