<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="container mt-4">

    <h4 class="text-center mb-4">👥 Integrantes</h4>

    <div class="row text-center">

        <!-- Heloisa -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm p-3">

                <img src="/helo.png" 
                     class="rounded-circle mx-auto d-block mb-3"
                     width="120" height="120"
                     style="object-fit: cover;">

                <h5>Heloisa Ferreira Gomes</h5>

            </div>
        </div>

        <!-- Analice -->
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm p-3">

                <img src="/ana.jpeg" 
                     class="rounded-circle mx-auto d-block mb-3"
                     width="120" height="120"
                     style="object-fit: cover;">

                <h5>Analice Corazza</h5>

            </div>
        </div>

    </div>

</div>

<%- include('partials/footer') %>